{
  "greeting" : {
	"ancientkazdra" : {
		"default" : [
			"G'day, zweh.",
			"G'day.",
			"Good day, zweh.",
			"Good day.",
			"Good evening, zweh.",
			"Good evening.",
			"Eh?",
			"What did you break now?!",
			"...",
			"Zzzzzzzzzzzzzzzzzzzzzzzzz...",
			"No you can't take the ship through that mine field!"
		]
	}
  },
  "converse": {
    "ancientkazdra" : {
		"generic" : [
			"What black magic are you using to carry all that junk!?",
			"I've got to hand it to the humans, such idiots zuu.  Let's just have one base of operations...",
			"I have one question.  Why is there no network of telaporters when there is no range limit?",
			"Are these true teleporters or are they warp devices, zweh?  I never was fond on the idea of them.",
			"Did you send me through THAT teleporter!!?? *gulp*",
			"Oi, what is the year?  Why?  I was a sleep for a while...",
			"How are you still living? Do all people have that emergency teleport?",
			"Sure, just hall that 3000kg of rocks around with you... Zuu.",
			"Why do your nano controllers requires repairs if they just build?",
			"G4anjg keEB9ti o th t0 tho jingo elm bog  Huu? Sorry that was a malfunction.",
			"Why can stablzeing medical supply heal life-threatening wounds in a mater of seconds?",
			"I hope you have a decontamination system.",
			"If I repeat something, I'm sorry.  Your not meant to stay in cryo for that long, zuu.",
			"What, you want me to fix your do-hickie?!  I'm a programmer that knows some engineering, not that!",
			"I'm lucky you found me instead of bandits or not at all.  I don't know what would of happened!",
			"No I will not help you with your laundry.",
			"When was the last time you took a bath, or sleped a full 8 hours?",
			"Another day of no sleep, zuuuu... Zzzzzz",
			"Converse#27:null",
			"I'm starving!",
			"I hope this does not explode... again.",
			"Why do the NPCs never need to eat food?",
			"I wonder if this reality is being simulated by a supper computer.",
			"Why does this ship not have a bathroom?!",
			"How old am I?  Well, technically I'm over 10 000 galactic standard years old..."
		],
		"default" : [
			"G'day, zweh.",
			"How's it goin', mate?",
			"Kezha, anything I can help with?",
			"Hulloo!",
			"Error: no default converse set.  Um why did it say that?"
		],
		"apex" : [
			"Sorry, but I don't like the 'big ape' autocratic society.",
		    "Are you related to humans?",
			"If I do recall correctly, but the ancients were experimenting with enhancing intelligence, guess what they used, zweh."
		],
		"avian" : [
		    "I wonder, were you ever able to fly, like the kazdra?"
		],
		"floran" : [
			"*ahem* I'd appreciate it if you'd stop tryin' to bite my tail, zuu.",
			"I think I'll go now, seems like one of our experiments failed drastically..."
		],
		"glitch" : [
			"So my kindred has defiled your people, I am not surprised with their recent obsession with metal.",
			"Zweh, I wish kazdra were more ethically inclined than their obsession with metal.",
			"What's your OS?",
			"Hey, what is 6786005460765 times 100788765?"
		],
		"human" : [
			"So, how much as humanity change over 10 000 years?  Developed stupidity, check. Devolved and revolved now using FTL tech. And awoken the destroyer. Nice job!",
			"G'day, zweh!",
			"Your obsession with plastic is amassing!",
			"So how was politics?  With your society, I mean when it was.",
			"I wish I could help the human refugees, but I'm too scared that they get mad."
		],
		"hylotl" : [
			"Sorry, but engineering is a giant mess... zweh.",
			"Is there any advantage for three eyes?",
			"I thought you were more like frogs than fish."
		],
		"kazdra" : [
			"So what happened to all of the metallic resources while I was in cryo?",
			"I'm sure you seen the runes, terrible isn't it?",
			"Why can kahla heal life-threatening wounds in a mater of seconds?",
			"Why does your mining operations lack appropriate draining systems?  Expecily if you contently have this issue!",
			"I know metal was scare in my times, but this is just ridiculous. Zuu."
		],
		"novakid" : [
			"How can you exist, your just plasma?!"
		]
    }
  }
}