# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

$ cat .gitattributes
# JSON
JSON linguist-searchable=true

*.biome linguist-detectable=true
*.codex linguist-detectable=true
*.config linguist-detectable=true
*.activeitem linguist-detectable=true
*.chest linguist-detectable=true
*.head linguist-detectable=true
*.legs linguist-detectable=true
*.currency linguist-detectable=true
*.item linguist-detectable=true
*.animation linguist-detectable=true
*.consumable linguist-detectable=true
*.liqitem linguist-detectable=true
*.frames linguist-detectable=true
*.liquid linguist-detectable=true
*.namesource linguist-detectable=true
*.npctype linguist-detectable=true
*.object linguist-detectable=true
*.questtemplate linguist-detectable=true
*.recipe linguist-detectable=true
*.species linguist-detectable=true
*.tech linguist-detectable=true
*.tenant linguist-detectable=true
*.material linguist-detectable=true
*.treasurepools linguist-detectable=true
*.vehicle linguist-detectable=true

*.biome linguist-generated=false
*.codex linguist-generated=false
*.config linguist-generated=false
*.activeitem linguist-generated=false
*.chest linguist-generated=false
*.head linguist-generated=false
*.legs linguist-generated=false
*.currency linguist-generated=false
*.item linguist-generated=false
*.animation linguist-generated=false
*.consumable linguist-generated=false
*.liqitem linguist-generated=false
*.frames linguist-generated=false
*.liquid linguist-generated=false
*.namesource linguist-generated=false
*.npctype linguist-generated=false
*.object linguist-generated=false
*.questtemplate linguist-generated=false
*.recipe linguist-generated=false
*.species linguist-generated=false
*.tech linguist-generated=false
*.tenant linguist-generated=false
*.material linguist-generated=false
*.treasurepools linguist-generated=false
*.vehicle linguist-generated=false

*.biome linguist-vendored=false
*.codex linguist-vendored=false
*.config linguist-vendored=false
*.activeitem linguist-vendored=false
*.chest linguist-vendored=false
*.head linguist-vendored=false
*.legs linguist-vendored=false
*.currency linguist-vendored=false
*.item linguist-vendored=false
*.animation linguist-vendored=false
*.consumable linguist-vendored=false
*.liqitem linguist-vendored=false
*.frames linguist-vendored=false
*.liquid linguist-vendored=false
*.namesource linguist-vendored=false
*.npctype linguist-vendored=false
*.object linguist-vendored=false
*.questtemplate linguist-vendored=false
*.recipe linguist-vendored=false
*.species linguist-vendored=false
*.tech linguist-vendored=false
*.tenant linguist-vendored=false
*.material linguist-vendored=false
*.treasurepools linguist-vendored=false
*.vehicle linguist-vendored=false

*.biome linguist-language=JSON
*.codex linguist-language=JSON
*.config linguist-language=JSON
*.activeitem linguist-language=JSON
*.chest linguist-language=JSON
*.head linguist-language=JSON
*.legs linguist-language=JSON
*.currency linguist-language=JSON
*.item linguist-language=JSON
*.animation linguist-language=JSON
*.consumable linguist-language=JSON
*.liqitem linguist-language=JSON
*.frames linguist-language=JSON
*.liquid linguist-language=JSON
*.namesource linguist-language=JSON
*.npctype linguist-language=JSON
*.object linguist-language=JSON
*.questtemplate linguist-language=JSON
*.recipe linguist-language=JSON
*.species linguist-language=JSON
*.tech linguist-language=JSON
*.tenant linguist-language=JSON
*.material linguist-language=JSON
*.treasurepools linguist-language=JSON
*.vehicle linguist-language=JSON